{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>RecPlaylists</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="#">
            <span>
              Recomendaplays
            </span>
          </a>
          
          </div>
        </nav>
      </div>
    </header>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Music Name</th>
    </tr>
  </thead>
  {% if music_list %}
  <tbody>
    {% for music in music_list %}
    <tr>
      <td>{{ music.track.id }}</td>
      <td>{{ music.track.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <tbody>
    <tr>
      <td>No Musics</td>
    </tr>
  </tbody>
  {% endif %}
</table>

{% comment %} <h1> Latest Musics </h1>
{% if music_list %}
    <ul>
    {% for music in music_list %}
        <li>{{ music.track.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} {% endcomment %}

</htlm>